/*General stylings*/
body {
    font-family: 'Lato', sans-serif;
    background-color: #000000;
    color: #ffffff;
}

p {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: #926f34;
    font-size: 1.2rem;
}

img {
    width: 100%;
}

/*Header stylings*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo_image {
    height: 200px;
}

/*Navigation stylings*/

.nav {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form {
    width: 50%;
}

input[type=text] {
    padding: 10px;
    border: 1px #000000 solid;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    width: 50%;
}

input[type=submit] {
    background-color: #dfbd69;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    cursor: pointer;
}

/*Cards stylings*/

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.catType_Card {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 3px;
    margin: 5px;
    border: 1px solid #ffffff;
    border-radius: 20px;    
}

button {
    width: 40%;
    height: 50px;
    background-color: #926f34;
    color: #ffffff;
    padding: 3px;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

#closeRecipe {
    background-color: #dfbd69;
}

.cat_image {
    cursor: pointer;
}

.cat_menu {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cat_title {
    margin-left: 10px;
    color: #926f34;
}


